.top_margin{
  margin-top: 100px;
}

.titale_color{
  color: white;
  background-color: darkslategray;
}

.img_mobiles img{
  height: 300px;
  width: 360px;
}




.img_11 img{
  height: 500px;
  width: 500px;
}
